@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
#container {
    margin: auto;
    width: 50%;
    background-color: #04041af1;
}

h1, h2 {
    margin: 2rem 2rem;
}

body {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    color: white;
    background-image: url("cosmos.jpg");
}

label {
    font-size: large;
}
.moonBox  {
    width: 20rem;
    height: 25rem;
    display: flex;
    margin: 2% auto;
} 

.moonBox img {
    height: auto;
    border: 0;
    border-radius: 10px;
}

#moon-phase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#tonight-moon {
    display: flex;
    margin: auto;
    width: 50%;
}

#tonight-star {
    display: flex;
    justify-content: space-evenly;
}

.starContainer {
    display: flex;
}

.starContainer img {
    border-radius: 20px;
    display: flex;
    width: 120%;
    margin: 2% 5%;
    justify-content: center;
}

#tonight-moon .moonBox {
    justify-content: center;
}

#button {
    /* background-color: #0b0b53; */
    background-color: #a4a4bf;
    color: #0b0b53;;
    border-radius: 5px;
    border-color: #a4a4bf;
    font-family: Arial, Helvetica, sans-serif;   
}

.cloud {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.cloud img {
    width: 23.0rem;
    z-index: 3;
} 

.cloud h1 {
    position: absolute;
    z-index: 1;
    color: #e1e1ea;
}

@media (max-width: 768px) {

body {
    line-height: 0.7;
}

h1, h2 {
    font-size: medium;
    margin: 5%;
}

#container {
    margin: auto;
    width: 70%;
    background-color: #0e0e30;
}
    
.moonBox  {
    width: 15rem;
    height: 20rem;
    border-color: #060631;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    margin: auto;
} 

#moon-phase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#tonight-moon {
    display: inline;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p {
    margin: 2.0rem;
}

#button {
    background-color: #a4a4bf;
    color: #0b0b53;;
    border-radius: 5px;
    border-color: #a4a4bfda;
    font-family: Arial, Helvetica, sans-serif;   
    height: 3.0rem;
    width: 6.0rem;
    font-size: smaller;
    text-align: center;
    padding: 2%;
    font-weight: bold;
    margin-bottom: 1.0rem;
}

.form-control {
    width: 15.0rem;
    height: 3.0rem;
    margin: auto;
}

label {
    font-size: small;
    padding: 3%;
}
  }