#container {
    margin: auto;
    width: 50%;
    background-color: rgb(19, 19, 61);
}

h1 {
    text-align: center;
    margin: 1rem 1rem;
}
body {
    background-color: rgb(6, 6, 49);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.moonBox  {
    width: 15rem;
    height: 20rem;
    border-color: rgb(6, 6, 49);
    border-radius: 10px;
    border-style: solid;
    display: flex;
    margin: auto;
} 

#moon-phase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#tonight-moon {
    display: flex;
    margin: auto;
    width: 50%;
}

#tonight-moon .moonBox {
    justify-content: center;
}

@media (max-width: 768px) {
    .moonBox  {
        width: 15rem;
        height: 10rem;
        border-color: aqua;
        border-radius: 15px;
        border-style: solid;
        display: flex;
        margin: 1.0rem;
        
    } 

    #moon-phase {
        display: flex;
        max-height: 500px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
  }